:root {
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #F5F4FA;
  --project-cards-set-gap: 30px;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__link-nav {
  text-decoration: none;
}

.header__nav-link {
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 30px 0;
  -webkit-transition: color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function);
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--accent-color);
}

.header__nav-link--current {
  color: var(--accent-color);
  position: relative;
}

.header__nav-link--current::after {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  border-radius: 2px;
  content: "";
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function);
}

.contacts__item-link:hover,
.contacts__item-link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero__container {
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  border: none;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primery-white-color);
  width: 696px;
  margin: 0 auto;
}

.hero-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  width: 216px;
  min-height: 50px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio-header {
  color: #000000;
}

.logo__studio-footer {
  color: var(--primery-white-color);
}

.features__boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__box {
  width: 270px;
}

.features__box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__box-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.examples {
  padding-top: 0;
}

.examples__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples__card {
  position: relative;
}

.examples__card-text {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__card {
  width: 270px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team-card-wrapper {
  padding: 30px 0;
}

.team-card-wrapper__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team-card-wrapper__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.team-card-wrapper__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-card-wrapper__social-network > .team-card-wrapper__network-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.team-card-wrapper__network-link:hover,
.team-card-wrapper__network-link:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.team-card-wrapper__network-icon {
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__logo {
  width: calc((100% - 30px) / 6);
}

.clients__link {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__logo {
  width: calc((100% - 30px) / 6);
}

.clients__link {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primery-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  color: var(--primery-text-color);
  margin-bottom: 12px;
}

.modal-window__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-window__input-position {
  position: relative;
  margin-bottom: 10px;
}

.modal-window__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--transition-timing-function);
  transition: border-color 250ms var(--transition-timing-function);
  outline: none;
  cursor: pointer;
}

.modal-window__input:focus {
  border-color: var(--accent-color);
}

.modal-window__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--primery-text-color);
  -webkit-transition: fill 250ms var(--transition-timing-function);
  transition: fill 250ms var(--transition-timing-function);
}

.modal-window__input-position:focus-within .modal-window__input-icon {
  fill: var(--accent-color);
}

.modal-window__comment-input {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: transparent;
}

.modal-window__comment-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__comment-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__comment-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__comment-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__comment-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__comment-input:focus {
  border-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  padding: 0;
  cursor: pointer;
}

.close-button:hover {
  fill: var(--accent-color);
}

.agreement {
  position: relative;
}

.agreement__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agreement__label-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
}

.checkbox__icon-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--primery-white-color);
}

.checkbox:checked + .agreement__label .checkbox__accept {
  background-color: var(--accent-color);
  border: transparent;
}

.submit-button {
  display: block;
  width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--transition-timing-function), -webkit-box-shadow 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function), -webkit-box-shadow 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function), -webkit-box-shadow 250ms var(--transition-timing-function);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-height: 38px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: auto;
  padding: 6px 22px;
  color: var(--primery-text-color);
  background-color: var(--secondary-background-color);
  -webkit-transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-cards-set-gap));
  margin-top: calc(-1 * var(--project-cards-set-gap));
}

.portfolio-grid > .portfolio-grid__card {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: var(--project-cards-set-gap);
  margin-top: var(--project-cards-set-gap);
}

.portfolio-grid__link {
  display: block;
  height: 100%;
}

.portfolio-grid__link:hover,
.portfolio-grid__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing-function);
  transition: -webkit-box-shadow 250ms var(--transition-timing-function);
  transition: box-shadow 250ms var(--transition-timing-function);
  transition: box-shadow 250ms var(--transition-timing-function), -webkit-box-shadow 250ms var(--transition-timing-function);
}

.portfolio-grid__card-image {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.portfolio-grid__card .portfolio-grid__link:hover .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function), -webkit-transform 250ms var(--transition-timing-function);
}

.portfolio-grid__card-text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-grid__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.portfolio-grid__card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: -webkit-transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function);
  transition: transform 250ms var(--transition-timing-function), -webkit-transform 250ms var(--transition-timing-function);
}

.portfolio-overlay__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
}

.footer {
  background-color: var(--primary-background-color);
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-contacts > ul {
  font-style: normal;
  margin-top: 20px;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__item-location {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primery-white-color);
  -webkit-transition: color 250ms var(--transition-timing-function);
  transition: color 250ms var(--transition-timing-function);
}

.footer-contacts__item-location:hover,
.footer-contacts__item-location:focus {
  color: var(--accent-color);
}

.footer-contacts__item-link {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-us {
  margin-left: 70px;
}

.join-us__text,
.sign-up__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}

.join-us__social-network > .join-us__network-link {
  color: var(--primery-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.join-us__social-network:hover,
.join-us__social-network:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.sign-up {
  margin-left: 93px;
}

.sign-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.sign-up__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--primary-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.sign-up__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: auto;
  padding-left: 28px;
  -webkit-transition: background-color 250ms var(--transition-timing-function);
  transition: background-color 250ms var(--transition-timing-function);
}

.sign-up__icon {
  fill: var(--primery-white-color);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */