.agreement {
    position: relative;

    &__label {
            @extend %align-center;
            @extend %justify-center;
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: var(--secondary-text-color);
        }
    
        &__label-link {
            text-decoration-line: underline;
            color: var(--accent-color);
            margin-left: 4px;
        }
}

