.backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
    transform: translate(-50%, -50%);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}