.contacts {
    @extend %align-center;
    justify-content: flex-end;
    margin-left: 318px;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__item-link {
        @extend %align-center;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        @extend %link-decoration;
    }

    &__item-link:hover,
    &__item-link:focus {
        color: var(--accent-color);
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}