.features {


&__container {


    @media (min-width: 768px) {
        width: 100%;
        display: flex;
    }

    @media (min-width: 1200px) {
        width: 100%;
        display: flex;
    }

}

&__boxs {
    display: block;



    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 30px;
    }
}

    &__box {
        width: 100%;      
        
        @media (min-width: 768px) {
                width: calc((100% - 30px) / 2);
                }
    }


    &__box:not(:last-child) {
        margin-bottom: 30px;
        
        @media (min-width: 768px) {
        margin-bottom: 0;
        }

    }

    &__box-header {
                width: 100%;
                @extend %align-center;
        height: 120px;
        justify-content: center;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__box-title {
        @extend %text-uppercase;
        text-align: center;

    @media (min-width: 768px) {
    text-align: left;
        }

    }

    &__box-text {
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-text-color);
        margin-top: 10px;
    }
}
