.features {
&__boxs {
        @extend %grid-setup;
    }

    &__box {
        width: 270px;
    }

    &__box-header {
        @extend %align-center;
        width: 270px;
        height: 120px;
        justify-content: center;
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__box-title {
        @extend %text-uppercase;
    }

    &__box-text {
        font-size: 14px;
        line-height: 1.71;
        color: var(--secondary-text-color);
        margin-top: 10px;
    }
}
