.footer {
    background-color: var(--primary-background-color);
    padding: 60px 0;


    &__container {



@media (min-width: 768px) {
display: flex;
flex-wrap: wrap;
align-items: baseline;
}

@media (min-width: 768px) and (max-width: 1199px) {
justify-content: space-around;    
}

@media (min-width: 1200px) {
display: flex;
flex-wrap: nowrap;
align-items: baseline;
}

}

&__top {
margin-bottom: 60px;

@media (min-width: 1200px) {
margin-bottom: 0;
}
}
    
}


.footer-contacts {
    font-style: normal;
    margin-top: 28px;
    text-align: center;

   @media (min-width: 1200px) {
   margin-bottom: 0;
}


&__item {
    text-align: center;

    @media (min-width: 1200px) {
    text-align: left;
    }


}

    &__item:not(:last-child) {
            margin-bottom: 9px;
        }
    
        &__item-location {
            text-decoration: none;
            font-size: 14px;
            line-height: 1.7;
            color: var(--primery-white-color);
            @include transition-min;
        }
    
        &__item-location:hover,
        &__item-location:focus {
            color: var(--accent-color);
        }
    
        &__item-link {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);

            @extend %link-decoration;
        }
}

