.header {
    border-bottom: 1px solid #ECECEC;

&__container {
@extend %align-center;
justify-content: space-between;

@media (min-width: 480px) {
}

@media (min-width: 768px) {
    max-width: 768px;
}
}

&__burger-menu {

  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

        @media (min-width: 768px) {
        display: none;
    }
    }

    &__burger-menu:hover,
    &__burger-menu:focus {
        background-color: rgba(0, 0, 0, 0.1);
    }


    &__nav {
        @extend %align-center;
    }

    &__nav-menu {
        @extend %align-center;

        @media (min-width: 768px) {
                margin-left: 87px;
            }

    }

    &__nav-item:not(:last-child) {
        margin-right: 50px;
    }

    &__nav-link {
        color: var(--primery-text-color);
        display: none;
        padding: 30px 0;
        @include link-decor;
        @include transition-min;

        @media (min-width: 768px) {
                display: flex;
            }

        &--current {
            color: var(--accent-color);
            position: relative;
        }

        &--current::after {
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            border-radius: 2px;
            content: ''
        }

        &:hover,
        &:focus {
            color: var(--accent-color);

        }

    }

}