.header {
    border-bottom: 1px solid #ECECEC;

    &__container {
        @extend %justify-space-between;
    }

    &__nav {
        @extend %align-center;

    }

    &__nav-menu {
        @extend %align-center;
    }

    &__nav-item:not(:last-child) {
        margin-right: 50px;
    }

    &__nav-link {
        color: var(--primery-text-color);
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        padding: 30px 0;
        transition: color 250ms var(--transition-timing-function);

        &--current {
            color: var(--accent-color);
            position: relative;
        }

        &--current::after {
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            border-radius: 2px;
            content: ''
        }

        &:hover,
        &:focus {
            color: var(--accent-color);

        }

    }
}