.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__container {
        width: 100%;
        max-width: 1200px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 15px;
        border: none;
    }

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: var(--primery-white-color);
        width: 696px;
        margin: 0 auto;
    }

    &__button {
        @extend %button-basic;
        display: block;
        width: 216px;
        min-height: 50px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}