.join-us {

    @media (min-width: 1200px) {
        margin-left: 70px;
        margin-bottom: 0;
    }
    

        &__text {
            text-align: center;
            @extend %text-uppercase;
            color: var(--primery-white-color);
            margin-bottom: 20px;

            @media (min-width: 1200px) {
            text-align: left;
            }
        }
    
    
        &__social-network>.join-us__network-link {
            color: var(--primery-white-color);
            background-color: rgba(255, 255, 255, 0.1);
        }
    
        &__social-network:hover,
        &__social-network:focus {
            background-color: var(--accent-color);
            border-radius: 50%;
        }
}

