.join-us {
    margin-left: 70px;
}

.join-us__text,
.sign-up__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 14;
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 20px;
}


.join-us__social-network>.join-us__network-link {
    color: var(--primery-white-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.join-us__social-network:hover,
.join-us__social-network:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}