.join-us {
    margin-left: 70px;

        &__text {
            @extend %text-uppercase;
            color: var(--primery-white-color);
            margin-bottom: 20px;
        }
    
    
        &__social-network>.join-us__network-link {
            color: var(--primery-white-color);
            background-color: rgba(255, 255, 255, 0.1);
        }
    
        &__social-network:hover,
        &__social-network:focus {
            background-color: var(--accent-color);
            border-radius: 50%;
        }
}

