.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--primery-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 1, 15;
            text-align: center;
            color: var(--primery-text-color);
            margin-bottom: 12px;
        }
    
    
        &__label {
            display: block;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: #757575;
            margin-bottom: 4px;
        }
    
        &__input-position {
            position: relative;
            margin-bottom: 10px;
        }
    
        &__input {
            width: 100%;
            height: 40px;
            padding: 11px 12px 11px 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: border-color 250ms var(--transition-timing-function);
            outline: none;
            cursor: pointer;
        }
    
    
        &__input:focus {
            border-color: var(--accent-color);
        }
    
        &__input-icon {
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--primery-text-color);
            transition: fill 250ms var(--transition-timing-function);
        }
    
        &__input-position:focus-within .modal-window__input-icon {
            fill: var(--accent-color);
        }
    
        &__comment-input {
            width: 100%;
            height: 120px;
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 12px 16px;
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            outline: transparent;
        }
    
        &__comment-input::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
    
        &__comment-input:focus {
            border-color: var(--accent-color);
        }
}
