.team {
    padding: 60px 0;
    background-color: var(--secondary-background-color);

    @media (min-width: 1200px) {
    padding: 0;
    padding-bottom: 94px;
    }

&__container {
width: 100%;

@media (min-width: 768px) {
width: 100%;
}
}

&__title {
display: block;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
margin-bottom: 50px;
text-align: center;
}
        
    
&__cards {
        display: block;

        @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }

        @media (min-width: 1200px) {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 30px;
        }
        }

&__card {
    width: 100%;
    // width: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

}

&__card:not(:last-child) {

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

&__image {
    width: 100%;
    height: auto;
}

}

.team-card-wrapper {
    padding: 30px 0;

    &__title {
            font-weight: 500;
            margin-bottom: 10px;
            text-align: center;
        }
    
        &__text {
            @extend %card-description;
            margin-bottom: 16px;
            color: var(--secondary-text-color);
        }
    
        &__social-networks {
            @extend %align-center;
            justify-content: center;
            gap: 10px;
        }
    
        &__social-network>.team-card-wrapper__network-link {
            @extend %align-center;
            width: 44px;
            height: 44px;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 50%;
            color: #AFB1B8;
            @include transition-color;
        }
    
        &__network-link:hover,
        &__network-link:focus {
            background-color: var(--accent-color);
            color: var(--primery-white-color);
        }
    
        &__network-icon {
            fill: currentColor;
        }
}

