:root {
    --primery-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primery-white-color: #ffffff;
    --primary-background-color: #2f303a;
    --secondary-background-color: #F5F4FA;
    --project-cards-set-gap: 30px;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin transition-min {
        transition: color 250ms var(--transition-timing-function);
        }

@mixin transition-color {
        transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
        }

@mixin transition-full {
        transition: background-color 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
}

@mixin transition-border {
        transition: border-color 250ms var(--transition-timing-function);
}

@mixin transition-icon {
        transition: fill 250ms var(--transition-timing-function);
}

@mixin link-decor {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}